<h1>User info テンプレート</h1>

<h1>Book detail</h1>
<div>
  <%= link_to user_path(@user.id) do %>
  <p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <%= @user.name %>
  <% end %>
  <p>Title:</p>
  <span>
    <%= link_to @book.title, books_path(@book) %>
  </span>
  <p>Opinion：<%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
  
</div>